body{
  background-color: #242A32;
  display: flex;
  margin: 0px;
  /* -webkit-transform: translate3D(0, 0, 0); */
  /* transform: translate3D(0, 0, 0); */
  overflow: hidden;
  height: 200vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
