body{
  background-color: #242A32;
  margin: 0px;
  /* -webkit-transform: translate3D(0, 0, 0); */
  /* transform: translate3D(0, 0, 0); */
  /* overflow: visible; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
